@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    background:#eceeef;
}

/*BACKGROUND*/
.bg-header {
  background-color: #1CFDB2;
}

.bg-info-custom{
    background:white;
    border-radius: 5px;
}

.bg-shopee {
  padding: 10px;
  background-color:#EE4D2D ;
}

/*COLORS

#FD1966
#8C8C8C
#656565
#1CFDB2

#FC193E
#FC1B19
#FC198C
#F819FC
#AA19FC
#9B19A6
#8B19B1

*/
